.container
  color #999
  
.navbar 
  display block
  background rgba(0,0,0,.8)

.intro
  width 100%
  min-height 100vh
  display table

.wrapper
  color #fff
  display table-cell
  vertical-align middle
  padding 60px 30px
  text-align left
  text-transform uppercase
  background-color rgba(158, 23, 23, 0.64)

  h1, h3
    font-size 3em
    line-height 1em

  a, span
    color #fff
    font-size 1em
    display inline-block
    margin 30px 20px 0 0
    text-decoration none

  a
    &:hover
      text-decoration underline