.timeline
  padding 10px 30px
  h1
    text-transform uppercase
    font-size 2em
    margin 20px auto
    text-align center

.flow
  width 100%
  margin 0 auto
  list-style none
  max-width 800px

.point
  width 100%
  margin 20px 0
  display inline-block
